<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ubbcluj.canvasAndroid"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".storage.nonpersistent.CanvasApplicaiton"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.DashBoardActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="view.activity.DashBoardActivity" />
        </activity>

        <activity
            android:name=".view.activity.BaseActivity"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.CourseActivity"
            android:label="@string/title_activity_course"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="view.activity.DashBoardActivity" />
        </activity>

        <activity
            android:name=".view.activity.MessagesActivity"
            android:label="@string/title_activity_messages"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="view.activity.DashBoardActivity" />
        </activity>
        <activity
            android:name=".view.activity.MessageItemActivity"
            android:label="@string/title_activity_message_item"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="view.activity.DashBoardActivity" />
        </activity>
        <activity
            android:name=".view.activity.AnnouncementActivity"
            android:label="@string/title_activity_information"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="view.activity.DashBoardActivity" />
        </activity>
        <activity
            android:name=".view.activity.CourseSelectionActivity"
            android:label="@string/title_activity_course_selection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="view.activity.DashBoardActivity" />
        </activity>
        <activity
            android:name=".view.activity.AssignmentActivity"
            android:label="@string/title_activity_assignment"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="view.activity.DashBoardActivity" />
        </activity>

        <service android:name=".view.activity.MyService" />
    </application>

</manifest>
